<!DOCTYPE html>
<html lang="es-ES">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../assets/css/estilos.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/normalize.css">
    <link rel="icon" href="../assets/img/favicon.png">
    <script src="https://kit.fontawesome.com/4fcb02d961.js" crossorigin="anonymous"></script>
    <title>Dashboard</title>
</head>
<body>
    <header>
        <div class="logo1">
            <img src="../assets/img/logo.jpg">
        </div>

        <div class="sesion">
            <img src="../assets/img/golden.jpg">
            <span>
                <strong>Bienvenido,</strong><br>Usuario
                <a href="login.html"><i class="fas fa-right-from-bracket"></i></a>
            </span>
        </div>

    </header>

    <section id="dashboard">
        <article class="menu1">
            <ul>
                <li class="item1"><a href="Usuario/usuario.html"><i class="fa-solid fa-user"></i>Usuarios</a></li>
                <li class="item1"><a href="Ciente/cliente.html"><i class="fa-solid fa-users"></i>Clientes</a></li>
                <li class="item1"><a href="Producto/producto.html"><i class="fa-solid fa-tag"></i>Productos</a></li>
                <li class="item1"><a href="Pedido/pedido.html"><i class="fa-solid fa-cart-shopping"></i>Pedidos</a></li>
                <li class="item1"><a href="Reportes/reportes.html"><i class="fa-solid fa-arrow-trend-up"></i>Reportes</a></li>
            </ul>
            
        </article>
        
        <article class="contenido1">
            <p >
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vero ipsa atque possimus, non adipisci alias nesciunt saepe ipsam nam sunt optio suscipit reiciendis dignissimos laudantium voluptatem facere illo exercitationem quasi.Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vero ipsa atque possimus, non adipisci alias nesciunt saepe ipsam nam sunt optio suscipit reiciendis dignissimos laudantium voluptatem facere illo exercitationem quasi.
            </p>

        </article>
    </section>
    
</body>
</html>