<!DOCTYPE html>
<html lang="es-ES">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../assets/css/estilos.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/normalize.css">
    <link rel="icon" href="../../assets/img/favicon.png">
    <title>Tips</title>
    <script src="https://kit.fontawesome.com/4fcb02d961.js" crossorigin="anonymous"></script>
</head>
<body>

    <header>
        <div class="logo">
            <img src="../assets/img/logo.jpg" alt="logo Animalandia">
        </div>

        <div class="botones">
            <a href="login.html"><button class="b-azul"><i class="fa-solid fa-eye id-icono"></i>Ingresar</button></a>
            <button class="b-morado"> Registrarse</button>
        </div>
    </header>

    <nav>
        <a href="index.html" class="item"> Home</a>
        <a href="equipo.html" class="item">Equipo</a>
        <a href="servicios.html" class="item">Servicios</a>
        <a href="tips.html" class="item" >Tips</a>
        <a href="contacto.html" class="item">Contacto</a>
    </nav>

  <div class="tips">
           <div>
              <h1>Algunos tips para el cuidado de tu mascota</h1>
               <p>
                  • Ofrecele una alimentación de calidad (pollo, verduras, etc..).<br>
                  • Lleva al veterinario de forma periódica.<br>
                  • Es importante acostubrar a tu mascota a un baño periodico cada mes.<br>
                  • Sacalo o interactua un tiempo con tu mascota.
                  </p>
            </div>
  </div>   
  
  <div class="video" aling="center">
      <div>
          <h1>Para saber un poco mas dale play al siguiente video</h1>
          <iframe width="560" height="315" src="https://www.youtube.com/embed/Pv756FZhpaU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
         
      </div>
  </div>
  <footer>
    <div class="box-footer">
        <div class="foot">
            <img src="../assets/img/bx-building.svg" alt="icono building">
            <h3> Sedes</h3>
            <p> Sede Keneddy<br>
                Sede Suba<br>
                Sede Fontibón<br>  
                Sede Centro

            </p>
        </div>

        <div class="foot">
            <img src="../assets/img/bx-building.svg" alt="icono building">
            <h3> Sedes</h3>
            <p> Sede Keneddy<br>
                Sede Suba<br>
                Sede Fontibón<br>  
                Sede Centro

            </p>
        </div>

        <div class="foot">
            <img src="../assets/img/bx-building.svg" alt="icono building">
            <h3> Sedes</h3>
            <p> Sede Keneddy<br>
                Sede Suba<br>
                Sede Fontibón<br>  
                Sede Centro

            </p>
        </div>
        

    </div>
</footer>


</body>
</html>



  