@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    
    box-sizing: border-box;
}


body{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

:root{
    --dark-color: #191919;
    --white-color: #FFFFFF;
    --purple-color: rgb(117,41,149);
    --blue-color: #00b2b1;
    --gray-color: #828282;
    --ligh-color: #f3fef3;
}

h1,h2,h3{
    font-family: 'Lato', sans-serif;
    color: var(--purple-color);
}

p{
    color: var(--dark-color);
    text-align: justify;
}

/*Estilos Home*/

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo img{
    max-width: 270px;
    width: 100%;
}

.b-azul{
    background: linear-gradient(#00b2b2, #016e6e);
    border-radius: 5px;
    border-color:var(--blue-color);
    font-weight: bold;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.b-azul:hover{
    background: linear-gradient(#016e6e, #00b2b2);
    transition: all 1s ease 1s;

}

.b-morado{
    background-color: var(--white-color);
    border-radius: 5px;
    border-color:var(--purple-color);
    font-weight: bold;
    padding: 0.5rem 1rem;
    cursor: pointer;
    color:var(--purple-color)
}

.b-morado:hover{
    color:var(--white-color);
    background: var(--purple-color);

}

.promocion h1{
    color:var(--purple-color);
    font-size: 28px;
    text-shadow: 2px 2px 2px white;

}

nav{
    display: flex;
    background-color: var(--purple-color);
}

/*para ajustar la barra de navegación o menú*/
.item{
    padding: 1rem;
    color:var(--white-color);
    text-decoration: none;
    border-bottom: 2px solid var(--purple-color);
}

.item:hover{
    color: rgba(255,255,255,0.4);
    transition: transform  
}

#agenda{
    display: flex;
    font-family: 'Poppins', sans-serif;
    box-shadow: 3px 3px 7px rgba(100, 98, 98, 0.459);
}


.cita p{
    color:var(--dark-color);
    text-shadow: none;
    text-align: justify;
}

.cita{
    flex-basis:70%;
    background-image: url("../img/fondo.jpg");
    padding: 2rem;
}

.cita h1{
    color: var(--dark-color);
    font-size: 24px;
    text-transform: uppercase;
    text-align: justify;
    text-shadow: none;
    font-size: bold;
    font-family: 'Poppins', sans-serif;
}

.cita h3{
    color: var(--dark-color);
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
}

.promocion{
    flex-basis: 30%;
    background-color: var(--purple-color);
    margin-top: 15px;
   
}

.promocion h1{
    color:var(--white-color);
    font-size: 28px;
    text-shadow: 2px 2px 2px rgb(31, 28, 28);
    font-family: 'Poppins', sans-serif;
   
}

.promocion img{
    margin: 10px 85px;
    border-radius:50% ;
    border: 7px solid white;
    inset:0 0 0 3px var(--dark-color);
    
}

 /*--------------este es para alinear el titulo se servicios -----------*/
.tseccion { 
    text-align: center;
    font-weight: bolder;
    text-shadow: 2px 2px 2px var(--dark-color); /*este es para ponerle la sombra al texto*/
    justify-content: space-between;
}

/*---------------CONTENEDOR PADRE, EL CUAL VA A SER FLEXIBLE LOS DEMAS-------------*/
#servicios{ /*el # es de el id */
    display: flex;
    justify-content: space-between; /*este es para que se ubiqe de forma horiszontal*/
}
.servicio p{
    color: var(--dark-color);
    text-shadow: none;
    text-align: justify;
}

.servicio h3{
    font-family: 'Poppins', sans-serif;

}

.servicio{
    margin: 10px;/*separacion de los elementos*/
    text-align: center;/*alinear el texto o sus elementos al centro*/
    padding: 1rem;
}

.servicio img{ /*para ajustar las imagenes del contenedor*/
    max-width: 200px;
    width: 100%;
}



/*------ESTE ES LA SIGUIENTE CAJA DE SEDES ------*/

/*es te es para ponerle fondo a la caja principal*/
footer{ 
    background-image: url("../img/fondo.jpg"); /*para llamar el fondo que deseo*/
    
}

/*-----este es para establecer lo que se ubia dentro de la caja-----*/
.box-footer{
    display: flex;
    justify-content:space-around; /*-----space-beetwen es para que distancien hacia afuera y space-aron hacia dentro*/
    padding: 2rem;/*para que se centren n poco mas hacia dentro*/
    background-color: rgba(117, 41, 149, 0.4); /* el ultimo numero define la transparencia de el color*/
}

.foot{
    text-align: center; /*centrar los textos de la caja todos centrados*/
}

.foot h3{
    color: var(--white-color);/*el color de la letra de los titulos*/
    font-weight: 500;
}

.foot p{
    color: white; /*el color de la letra de los parrafos*/
}

.icono{
    color:var(--white-color);
    margin-right: 0.3rem; /*es para que el icono tome distancia del texto ingresar hacia la derecha*/
}

/*--------CAJA DE EQUIPO----*/
#banner{/*el contenido dentro de bañar sea flexible--*/
    display: flex;
}

.intro img{
    max-width:100%;
}

#equipo{
    display: flex;
    justify-content: space-between;

}

.equipo{
    flex-basis: 30%;
}

.equipo img{
    border-radius:50% ;
    border: 7px solid white;
    inset:0 0 0 3px var(--dark-color);
    max-width: 200px;
    width: 100%;
}

.equipo{
    text-align: center;
}

.equipo p{
    color: var(--dark-color);
    text-align: center;
    justify-content: justify;
    text-shadow: none;
    font-size: small;

}
.servicio img{
    max-width: 200px;
    width: 100%;
}
.equipo h1{
    color:var(--purple-color);
    font-size: 28px;
    text-align: center;
    font-weight: bolder;
    text-shadow: 2px 2px 2px var(--w);
    justify-content: space-between;
    font-weight: 400;
}
.equipo h3{
    color:var(--purple-color);
    font-size: 20px;
    text-shadow: 2px 2px 2px white;
    font-weight: bolder;

}
.equipo h4{
    color: var(--dark-color);
    font-size: 18px;
    font-weight: bolder 700;
    text-shadow: 2px 2px 2px var(--gray-color);
    justify-content: space-between;
}

/*----- APARTADO DE SERIVICIOS-----*/
#banner2 img{
    width: 100%; /*SI mi imagen de banner no se ajusta a lo largo se establece se utiliza el wodth */
}

/*----CAJA PADRE----*/
#services{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2em;   
}

/*---- SUB CAJA HIJA----*/
#service{
    display: flex;
    align-items: center;
    margin: 1rem;
    width: 45%;    
}
.service{ 
    display: flex;
    align-items: center;
    margin: 1rem;
    width: 45%;
}

.text-service h2{
    color:var(--dark-color);
    
} 

.text-service p{
    color:var(--dark-color);
    font-size: 18px;
    font-weight:300;
    text-shadow: none;
    
}

.imgservice{
    margin-right: 3rem;
}

.service{ /*---- SUB CAJA HIJA----*/
    display: flex;
    align-items: center;
    margin: 1rem;
    width: 45%;
}

/*-------APARTADO DE CONTACTO-----*/

#contacto{
    padding: 1rem
}

#mapa iframe{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
.iframe{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.mapa iframe{
    justify-content: center;
    margin: 5px 5px 40px 490px;
    border-radius: 50%;/*para que se ponga redondo*/
    border: 7px solid black; 
     
}
/*------------------CONTACTO------------------*/

body{
    margin: 0;
    background-size: 100%;
    background-image: url(../img/fondo.jpg);
    background-attachment: fixed;
    font-family: 'Poppins', sans-serif;
}

form{  
    width: 450px;
    margin: auto;
    background: rgba(0, 0, 0, 0.4);
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 20px;   
    border-radius: 7px;
    
}
 
h1{
    color: #b77feb;
    text-align: center;
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
}

h2{
    text-shadow: 2px 2px 2px rgb(117,41,149);
    color: white;
    text-align: center;
    margin: 0;
    font-size: 30px;
    margin-bottom: 20px;
}
p{
    color: white;
    text-align: center;
    text-shadow: 2px 2px 2px rgb(7, 0, 10);
}


input, textarea {
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 17px;
}

textarea{
    max-width: 500px;
}

#button{
    background: rgb(117,41,149);
    color: white;
    padding: 20px;
}

#button:hover{
    cursor: pointer;
}

.info-contact p{
    color: var(--purple-color);
    text-align: center;
    text-shadow: none;

}

/*TIPS*/

.tips{
    width:48%;
    background: linear-gradient(#74959a5e, #af98b4a1);
    box-shadow: 3px 3px 7px rgb(236, 229, 229);
    border-radius: 10px;
    display: flex;
    justify-content:center;
    margin: 40px auto;
    align-items: center;
    padding: 30px ;
    
}

.tips p{
    padding: 30px 30px 20px 30px;
    text-align: justify;
    font-family: 'Poppins', sans-serif;
    align-content: flex-end;     
}



.tips h1 {
    color: #b77feb;
    text-align: center;
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
    text-align:center;
    align-items:center;  
}

.video{
    width:48%;
    background: linear-gradient(#74959a5e, #af98b4a1);
    box-shadow: 3px 3px 7px rgb(236, 229, 229);
    border-radius: 10px;
    display: flex;
    justify-content:center;
    margin: 40px auto;
    align-items: center;
    padding: 30px ;  
     
}
.video h1 {
    color: #b77feb;
    text-align: center;
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
    padding: 20px;
    text-align:center;
    align-items:center;  
}

/*--------DASHBOARD----------*/


header{
    display: flex;
    justify-content: space-between;/*distribuir los elementos uniformente*/
    padding: 0.5rem;
}

.sesion{
    text-align: right;
    color: var(--purple-color);
    display: flex;
    align-items: center;
}

.sesion img{
    max-width: 60px;
    width: 100%;
    border-radius: 50%; 
    border: 3px solid var(--purple-color);
}

#dashboard{
display: flex;   
}

.contenido1 p{
    color: #191919;
    text-align: justify;
    text-shadow: none;
}

.menu1{
    flex-basis: 20%; /*para poner una seccion de un tamaño en especifico, base flexible*/
    background-color: var(--dark-color);
    height: 100vh; /*se expresa de 0 a 100 de ancho-vh lo alto- altura de la ventana y vw de alto en width*/
}

.menu1 ul{
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.menu1 a{
    color: var(--ligh-color);
    text-decoration: none;
    padding: 1rem;
    display: block;/*para decirle a un elemento que se va a usar como bloque*/ 
    font-family: 'Poppins', sans-serif;
}

.menu1 a:hover{
    background-color: var(--purple-color);
    color:var(--dark-color);
    border:3px solid var(--white-color);
    padding-left: 40px;
    transition: all 2s;  
    width: 200px;  
}

.menu1 i{
    margin: 3px;
}



.contenido1{
    flex-basis: 80%;
    background-color: var(--ligh-color);
    padding: 30px;
}

/*--------------Producto.html pagina principal----------------*/

.tabla-intro{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tabla-intro img{
    max-width: 100px;
    border-radius: 50%;
    border: 2px solid var(--ligh-color);
}
.tabla-intro h1{
    color: var(--dark-color);
    font-family: 'Poppins', sans-serif;
}

.tabla-intro a{
    border-radius: 5%;
}

.frm-busqueda{
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.frm-busqueda input[type="text"]{
    flex-basis: 80%;
    padding: 10px;
    border: 2px solid var(--dark-color);
}

.frm-busqueda button{
    flex-basis: 20%;
    margin-left: 20px;
    border-radius: 5px;
}

table{
    width: 100%;
    border: 2px solid var(--dark-color);
    border-collapse: collapse;/*para fusionar los bordes de a tabla*/
}

table th{
    border: 2px solid var(--dark-color);
    background-color: var(--purple-color);
    color: var(--white-color);
    padding: 7px 0;
}

table td{
    border: 2px solid var(--dark-color);
    text-align: center;
}

/*-----------------productoAdd-------------*/

#form-producto{
    max-width: 800px;
    margin: 0 auto;
}

.form-producto label{
    color: var(--dark-color);
    font-family: 'Poppins', sans-serif;
}

.form-producto select{
    color: var(--dark-color);
    font-size: 1rem;
    font-weight: bold;
}

.form-producto input[type="submit"]{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 1em;
    border-radius: 5px;
}


